<div class="container">
  <div class="row">
  <div class="Manegement-main">
    <h1>Manegement</h1>

    <div class="admin-menu">
        <p><%= link_to admins_movies_path do %>ALL Posts<%end%></p>
        <p><%= link_to admins_end_users_path do %>User List<%end%></p>
        <p><%= link_to admins_comments_path do %>ALL Comments<%end%></p>
        <p><%= link_to admins_tags_path do %>ALL Tags<%end%></p>
    </div>

  </div>
</div>
